/* 1. Creando las variables del proyecto.
Estás deben ser definidas por su función más no por su valor 

2. Asignación de estilos:
Los estilos se ordenan según su propósito.
- Posicionamiento
- Box Model
- Tipografía
- Visuales
- Otros
Cada categoria se separa por un espacio, de forma que resulta más legible.
*/
:root {
    --white: #ffffff;
    --black: #000000;
    --background-color: #C7C7C7;
    --text-input-field: #F7F7F7;
    --main-color: #ACD9B2;

    /* Font */
    --font-quicksand-family: 'Quicksand', sans-serif;

    /* Weights */
    --font-quicksand-300: 300;
    --font-quicksand-400: 400;
    --font-quicksand-500: 500;
    --font-quicksand-600: 600;
    --font-quicksand-700: 700;

    --sm: 14px;
    --md: 16px;
    --lg: 18px;
}

.quicksand {
    font-family: var(--font-quicksand-family);
}

.quicksand-300 {
    font-weight: var(--font-quicksand-300);
}
.quicksand-400 {
    font-weight: var(--font-quicksand-400);
}
.quicksand-500 {
    font-weight: var(--font-quicksand-500);
}
.quicksand-600 {
    font-weight: var(--font-quicksand-600);
}
.quicksand-700 {
    font-weight: var(--font-quicksand-700);
}


body {
    font-family: 'Quicksand';
    /* height: 600px; */
    display: grid;
    place-content: center;
    margin: 0;
    /* font-weight: 300; */

    background-image: url("../assets/images/16324335_rm222-mind-19.svg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    /* object-fit: cover; */
}
.main {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.logo {
    display: none;
    width: 150px;
    margin-bottom: 48px;
}
.title {
    margin-bottom: 12px;
    font-size: var(--lg);
    text-align: center;
}
.subtitle {
    margin-bottom: 32px;
    text-align: center;
    font-size: var(--md);
    color: var(--black);
}
.form-container {
    width: 300px;
}

.label {
    font-weight: bold;
    font-size: var(--sm);
}
.input {
    /* display: block; */
    height: 50px;
    width: 100%;

    box-sizing: border-box;
    margin-bottom: 12px;
    border: none;
    border-radius: 8px;
    padding: 12px;

    background-color: var(--text-input-field);
}
.primary-button {
    width: 100%;
    height: 50px;
    
    margin-top: 10px;
    border-radius: 8px;
    border: none;
    padding: 12px;

    font-family: var(--font-quicksand-family);
    font-size: var(--md);
    font-weight: bold;

    background-color: var(--main-color);
    color: var(--white);
    cursor: pointer;
}

.primary-button:hover {
    background-color: #8bdb95;
}

.primary-button:focus {
    background-color: #62d472;
}

@media screen and (width <= 600px) {
    .logo {
        display: block;
    }
}
.main-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px;
    border-radius: 8px;
    border: none;
    box-shadow: 0 0 10px;

    background-color: var(--white);
}